<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>This the homepage</h1>
        <img src= 'obito.jpg' alt="obito" width="200" heigth="200"/>
        <p><%= message %> Pretty cool! </p>
        <a href="/second">Go to second page!</a>
    </body>
</html>