<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>This the homepage</h1>
        <p><%= message%> Pretty cool! </p>
        <a href="/second">Go to second page!</a>
    </body>
</html>