<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>This the second page</h1>
        <p> Pretty cool! <%= users %></p>
        <a href="/">Go back home!</a>
    </body>
</html>